html,
body {
  height: 100%;
  margin: 0;
}

/* DatePicker content */
.MuiCalendarPicker-root .MuiIconButton-root,
.MuiCalendarPicker-root .MuiIconButton-root:hover {
  color: #121417;
  border: none;
}

/* DatePicker field */
#date .MuiIconButton-root,
#date .MuiIconButton-root:hover {
  border: none;
  background-color: white;
}
