html,
body {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

/* DatePicker content */
.MuiCalendarPicker-root .MuiIconButton-root,
.MuiCalendarPicker-root .MuiIconButton-root:hover {
  color: #121417;
  border: none;
}

/* Graph styles */
.Graph {
  background-color: #fff;
  margin-top: 24px;
  border-radius: 4px;
}

.Graph svg g polygon {
  fill: #fff;
}

.Graph .node text,
.edge text {
  font-family: Roboto Mono, monospace;
}

.Graph .node ellipse {
  fill: #ffffff;
}

.Graph .edge polygon {
  fill: #000000;
}

/* DatePicker field */
#date .MuiIconButton-root,
#date .MuiIconButton-root:hover {
  border: none;
  background-color: white;
}
