html,
body {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

/* DatePicker content */
.MuiCalendarPicker-root .MuiIconButton-root,
.MuiCalendarPicker-root .MuiIconButton-root:hover {
  color: #121417;
  border: none;
}

/* Graph styles */
.Graph {
  background-color: #fff;
  margin-top: 24px;
  border-radius: 4px;
}

.Graph svg g polygon {
  fill: #fff;
}

.Graph .node text,
.edge text {
  font-family: Roboto Mono, monospace;
}

.Graph .node ellipse {
  fill: #ffffff;
}

.Graph .edge polygon {
  fill: #000000;
}

/* DatePicker field */
#date .MuiIconButton-root,
#date .MuiIconButton-root:hover {
  border: none;
  background-color: white;
}

/* React flow */
.react-flow__panel.react-flow__attribution.bottom.right a {
  display: none;
}
.react-flow {
  font-family: Roboto Mono, monospace;
  border-radius: 6px;
  padding: 26px;
  border: 1px solid hsl(220, 14%, 90%);
}
.react-flow__node-default, .react-flow__node-input, .react-flow__node-output, .react-flow__node-group {
  border-color: hsl(220, 14%, 90%);
  box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);
}
.react-flow__node-default.selected.selectable {
  box-shadow: none;
  border: 2px solid hsl(220, 13%, 85%);
}
.react-flow__handle {
  background-color: hsl(0, 0%, 98%)
}
.react-flow__controls-button {
  border: 1px solid hsl(220, 13%, 85%);
  box-shadow: none;
  margin: 4px;
  width: auto;
  min-width: 20px;
  min-height: 20px;
  border-radius: 6px;
  font-family: Inter,sans-serif;
}
.react-flow__controls-button:hover {
  background-color: hsl(220, 26%, 95%);
  transition: 0.5s
}
.react-flow__controls {
  box-shadow: none;
}