html, body {
  margin: 0;
  padding: 0;
  /* background: #F1F1F1; */
}

body {
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  background-color: #1D2025;
  color: #CBD0D7;
}

h1 {
  font-weight: 500;
}

h2 {
  color: #929BAB;
  font-weight: 400;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.page {
  animation: appear 0.8s;
}

.top-container {
  padding-left: 40px;
  padding-right: 40px;
}

.mr10 {
  margin-right: 10px;
}

.mr20 {
  margin-right: 20px;
}

.ml20 {
  margin-left: 20px;
}

.m10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt40 {
  margin-top: 40px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb40 {
  margin-bottom: 40px;
}

.pad20 {
  padding: 20px;
}

.pad-right-20 {
  padding-right: 20px;
}

.pad-left-20 {
  padding-left: 20px;
}

.row {
  display: flex;
}

.f1 {
  flex: 1;
}

.mono {
  font-family: 'Roboto Mono', monospace;
}

.fw300 {
  font-weight: 300;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.text-center {
  text-align: center;
}

.opacity-05 {
  opacity: 0.5;
}

.opacity-065 {
  opacity: 0.65;
}

.opacity-075 {
  opacity: 0.75;
}

.ohover-065 {
  opacity: 0.65;
}

.ohover-065:hover {
  opacity: 1;
}